@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");

/* Here I have used the star * selector in order to initialize my entire page (margin,padding) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 600;
  font-size: 105%;
}

header {
  font-family: "Poppins", sans-serif;
}

/* In the entire page i have used the FLEX BOX MODEL in order to center the content of the page */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  min-height: 100vh;
  height: 100%;
  background-color: rgb(40, 13, 63);
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  color: wheat;
}

#tsetsekov{
    font-size: .9em;
}
a{
    color:cyan;
}
a:link{
    color: cyan;
}
/* Header */

/* For the header i used an external library in order to implement the auto type animation. Here i have initialize the properties the header */
.container {
  width: 100%;
  height: 100px;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 80px;
  color: wheat;
  font-weight: bold;
    font-weight: 500;
  }

  #tetele{
    color: rgb(204, 0, 255);
    text-shadow:
    0 0 5px rgb(195, 0, 255),
    0 0 10px rgb(162, 0, 255),
    0 0 20px rgb(183, 0, 255),
    0 0 40px rgb(195, 0, 255),
    0 0 80px rgb(255, 0, 255),
    0 0 90px rgb(225, 0, 255),
    0 0 100px rgb(225, 0, 255),
    0 0 150px rgb(255, 0, 221);
    -webkit-text-stroke: 3px rgb(152, 1, 163);
    cursor:default;
  }

/* FQAs Section */

section {
    margin-top: 2cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* At this section i */
.dropdown {
  width: 800px;
}

.dropdown .contentBox {
  position: relative;
  margin: 15px 235px;
  text-align: center;
  cursor:default;
}

/* Here i have selected the classes for questions and answers and i changed the type of cursor when the user hover the classes*/
.dropdown .contentBox .questLabel {
  position: relative;
  padding: 20px;
  background: #3f1f57;
  border-style:ridge;
  border-width: 2px;
  border-color: wheat;
  border-radius: 65px;
}

/* Here i have used the before pseudo element and the transorm property in order to apply the animation of the answer*/
.dropdown .contentBox .questLabel::before {
  content: "+";
  position: absolute;
  top: 32px;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.5em;
  cursor: pointer;
}

/*Here I change content from + to - (using the active class that i created on java script) every time the user clicks some closed question. */
.dropdown .contentBox.active .questLabel::before {
  content: "-";
}

.dropdown .contentBox .answer {
  position: relative;
  background: linear-gradient( #29012e 26%, #0e001a 98%);
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  display:flexbox;
  text-align: center;
  align-content: center;
  width: 800px; 
  right: 5cm;
}

.dropdown .contentBox.active .answer {
  top: 10px;
  height:600px;
  border-style:ridge;
  border-radius: 25px;
  border-width: 2px;
  border-color: cyan;
  overflow-y:scroll;
  align-content: center;
  cursor:text;
}

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  background: #090425;
  height: 100px;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  margin-top: auto;
}

footer .social_icon,
footer .f_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-wrap: wrap;
  z-index: 99999;
}

footer .social_icon li,
footer .f_menu li {
  list-style-type: none;
}

footer .social_icon li a {
    font-size: 1.3em;
  color: wheat;
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
  color: rgb(198, 138, 255);
}

footer .f_menu li a {
  font-size: 0.9em;
  color: rgb(163, 82, 240);
  margin: 0 15px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.65;
}

footer .f_menu li a:hover {
  color: rgb(191, 122, 255);
  opacity: 1;
}

footer p {
  color: wheat;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-top: 15px;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(waveee.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

html {
  scroll-behavior: smooth;
}

#progress {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 99999;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 40px;
  color: #0d0055;
}

.btn {
  position: sticky;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b0125;
  border-radius: 5px;
  cursor: pointer;
  transition: left 0.6s ease;
  z-index: 9999999999;
}
.btn.click {
  left: 330px;
}
.btn span {
  color: wheat;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before {
  content: "\f00d";
  color: cyan;
}
.sidebar {
  top: 0;
  position: fixed;
  width: 320px;
  height: 100%;
  left: -320px;
  transition: left 0.6s ease;
  z-index: 9999999999;
}
.sidebar.show {
  left: 0px;
}
.sidebar .text {
  color: wheat;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1b0125;
  letter-spacing: 1px;
}

nav ul {
  background: #0e001a;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
nav ul li a {
  position: relative;
  color: wheat;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a {
  color: cyan;
  background: #29012e;
  border-left-color: cyan;
  cursor: default;
}
nav ul li a:hover {
  background: #29012e;
}
nav ul ul {
  position: static;
  display: none;
}
nav ul .evol-show.show {
  display: block;
}
nav ul .trade-show.show1 {
  display: block;
}
nav ul .compl-show.show2 {
  display: block;
}
nav ul ul li {
  line-height: 42px;
  border-top: none;
}
nav ul ul li a {
  font-size: 15px;
  color: #e6e6e6;
  padding-left: 40px;
}
nav ul li.active ul li a {
  color: #e6e6e6;
  background: #29012e;
  border-left-color: transparent;
}
nav ul ul li a:hover {
  color: cyan !important;
  background: #310536 !important;
  transform: scale(1.1);
  width: 95%;
  right: 5px;
  cursor: pointer;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}