* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: white;
}

header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 2px solid #141414;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

#container1 {
    width: 85%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.both {
    line-height: 1;
    font-weight: 800;
    font-size: 70px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: end;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: transparent;
    cursor: default;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1200px;
    font-family: "Poppins", sans-serif;
    background: url(/images/mximg2-Copy.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#container2 {
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 70%;
    margin-top: 100px;
    color: white;
}

#container3 {
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 70%;
    margin-top: 200px;
}

.boxes {
    width: 400px;
    height: 400px;
    background-color: rgba(1, 9, 11, 0.714);
    border: 2px solid rgba(59, 58, 58, 0.996);
    border-radius: 5px;
    flex-direction: column;
}

.boxes p {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1.5;
}

section h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 100;
    padding: 5px;
}

section p {
    font-size: 20px;
    margin: 30px;
}

#sq1 p {
    margin-top: 50px;
    color: aliceblue;
}

#sq2 p {
    text-align: left;
    margin-top: 80px;
}

#sq3 p {
    text-align: left;
    margin-top: 40px;
}

#sq4 p {
    text-align: left;
    margin-top: 100px;
    margin-right: 30px;
    justify-content: left;
}